//----------GENERAL-HEADING----------//
.general-heading {
    h1 {
        color: $putih;
        margin: 0px;
        letter-spacing: 2px;
    }
    background-color: $hitam;
    height: 150px;
    padding: 56px 0px;
}