//----------LIST-PRODUCT----------//
.list-product {
    .right {
        .shorting {
            button {
                background-color: $biru-muda;
                color: $putih;
                font-family: 'PT Serif', serif;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 3px;
                -webkit-transition: .2s background-color ease-in;
                -moz-transition: .2s background-color ease-in;
                -ms-transition: .2s background-color ease-in;
                -o-transition: .2s background-color ease-in;
                transition: .2s background-color ease-in;
            }
            button:hover {
                background-color: $hitam;
            }
            .dropdown-custom {
                li {
                    a {
                        padding: 10px 20px;
                        font-family: 'PT Serif', serif;
                        letter-spacing: 2px;
                        font-weight: 600;
                        border-right: none;
                        -webkit-transition: .2s color ease-in;
                        -moz-transition: .2s color ease-in;
                        -ms-transition: .2s color ease-in;
                        -o-transition: .2s color ease-in;
                        transition: .2s color ease-in;
                    }
                        border-top: 1px solid $grey;
                }
                li:hover {
                    a {
                        color: $orange;
                    }
                }
                padding: 0px;
            }
            margin-bottom: 20px;
        }
        .list-item {
            .col-item .photo img {
                margin: 0 auto;
                width: 275px;
            }
            .col-item {
                .photo {
                    .action-choice {
                        button {
                            margin-top: 135px;
                            color: $hitam;
                            -webkit-transition: .2s background-color ease-in, .2s color ease-in;
                            -moz-transition: .2s background-color ease-in, .2s color ease-in;
                            -ms-transition: .2s background-color ease-in, .2s color ease-in;
                            -o-transition: .2s background-color ease-in, .2s color ease-in;
                            transition: .2s background-color ease-in, .2s color ease-in;
                        }
                        button:hover {
                            background-color: $biru-muda;
                            color: $putih;
                        }
                    position:absolute;
                    top:-145px;
                    visibility: hidden;
                    color:white;
                    padding:10px;
                    width: 250px;
                    height: 300px;
                    }
                }
                .info {
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 600;
                    }
                    .sebelum {
                        color: $merah;
                    }
                    .sebelum::before {
                        content: "";
                    display: inline-block;
                    height: 0.65em;
                    vertical-align: bottom;
                    width: 100%;
                    margin-right: -100%;
                    margin-left: 1px;
                       border-top: 2px solid $merah;
                    }
                }
                margin-bottom: 10px;
            }

            .col-item:hover {
                img {
                    filter: brightness(70%);
                    -webkit-filter: brightness(70%);
                    -moz-filter: brightness(70%);
                    -ms-filter: brightness(70%);
                    -o-filter: brightness(70%);
                    transition: .5s filter ease-in-out;
                    -webkit-transition: .5s filter ease-in-out;
                    -moz-transition: .5s filter ease-in-out;
                    -ms-transition: .5s filter ease-in-out;
                    -o-transition: .5s filter ease-in-out;
                }
                .action-choice {
                    visibility: visible;
                    top: 0px;
                    left: 25px;
                    transition: 1s;
                }
            }

            .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
                display: block;
                max-width: 100%;
            }

            .col-item .info {
                padding: 10px;
                border-radius: 0 0 5px 5px;
                margin-top: 1px;
            }

            .col-item .price {
                /*width: 50%;*/
                float: left;
                margin-top: 5px;
            }

            .col-item .price p {
                line-height: 20px;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
            }

            .price-text-color {
                color: $biru-muda;
            }

            .col-item .info .rating {
                color: #777;
            }

            .col-item .rating {
                /*width: 50%;*/
                float: left;
                font-size: 17px;
                text-align: right;
                line-height: 52px;
                margin-bottom: 10px;
                height: 52px;
            }

            .clear-left {
                clear: left;
            }
        }
    }

    .left {
        .best-product {
            .heading-best-product {
                h3 {
                    font-weight: 600;
                    margin: 0px
                }
                margin-bottom: 30px;
            }
            .body-best-product {
                .row {
                    margin-bottom: 10px;
                }
                .gambar {
                    .wr-gambar {
                        img {
                            filter: brightness(70%);
                            -webkit-filter: brightness(70%);
                            -moz-filter: brightness(70%);
                            -ms-filter: brightness(70%);
                            -o-filter: brightness(70%);
                            -webkit-transition: 1s ease;
                            -moz-transition: 1s ease;
                            -ms-transition: 1s ease;
                            -o-transition: 1s ease;
                            transition: 1s ease;
                        }
                        img:hover{
                            filter: brightness(100%);
                            -webkit-filter: brightness(100%);
                            -moz-filter: brightness(100%);
                            -ms-filter: brightness(100%);
                            -o-filter: brightness(100%);
                            -webkit-transform: scale(1.08);
                            -moz-transform: scale(1.08);
                            -ms-transform: scale(1.08);
                            -o-transform: scale(1.08);
                            transform: scale(1.08);
                        }
                        position: relative;
                        overflow: hidden;
                    }
                }
                .detail {
                    a {
                        font-family: 'Open-Sans', sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        color: $hitam;
                        -webkit-transition: .2s color ease-in;
                        -moz-transition: .2s color ease-in;
                        -ms-transition: .2s color ease-in;
                        -o-transition: .2s color ease-in;
                        transition: .2s color ease-in;
                    }
                    a:hover {
                        text-decoration: none;
                        color: $orange;
                    }
                    .price-text-color {
                        color: $biru-muda;
                    }
                    .sebelum {
                        color: $merah;
                    }
                    .sebelum::before {
                            content: "";
                        display: inline-block;
                        height: 0.85em;
                        vertical-align: bottom;
                        width: 60%;
                        margin-right: -60%;
                        margin-left: 1px;
                        border-top: 2px solid $merah;
                    }
                }
            }
            margin-bottom: 40px;
        }

        .tags {
            .heading-tags {
                h3 {
                    font-weight: 600;
                    margin: 0px
                }
                margin-bottom: 30px;
            }
            .body-tags {
                ul {
                    li {
                        a {
                            padding: 10px 15px;
                            color: $hitam;
                            font-family: 'PT Serif', serif;
                            letter-spacing: 3px;
                            font-weight: 600;
                            font-size: 14px;
                            -webkit-transition: .2s color ease-in;
                            -moz-transition: .2s color ease-in;
                            -ms-transition: .2s color ease-in;
                            -o-transition: .2s color ease-in;
                            transition: .2s color ease-in;
                        }
                        a:hover {
                            text-decoration: none;
                            color: $orange;
                        }
                        line-height: 40px;
                        list-style: none;
                     float: left;
                     border: 1px solid $grey;
                    }
                    display: block;
                    padding: 0px;
                    margin: 0px;
                }
            }
        }
    }
    padding: 70px 0px;
}